<!DOCTYPE html>
<html>
    <head>
        <script src="./oath.js"></script>
    </head>
    <body>
        <table id="game">
            <tr>
                <td>
                    <ul id="board">
                    </ul>
                </td>
                <td>
                    <ul id="info">
                    </ul>
                </td>
                <td>
                    <ul id="players">
                    </ul>
                </td>
                <td>
                    <ul id="action">
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>