<!DOCTYPE html>
<html>
    <head>
        <script src="./oath.js"></script>
    </head>
    <body>
        <table id="game">
            <tr>
                <td colspan="4">
                    <h2 style="padding: 0; margin: 0; text-align: center;" id="title"></h2>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p style="font-size: smaller; color: gray; padding: 0; margin: 0; text-align: center; overflow-wrap: anywhere;" id="seed"></p>
                </td>
            </tr>
            <tr>
                <td style="white-space: nowrap;">
                    <ul id="board">
                    </ul>
                </td>
                <td style="white-space: nowrap;">
                    <ul id="info">
                    </ul>
                </td>
                <td style="white-space: nowrap;">
                    <ul id="players">
                    </ul>
                </td>
                <td style="width: 99%;">
                    <ul id="action">
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>